body {
  width: 100%;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.headliner {
  width: 100%;
  height: 45px;
}

div[data-view] {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  width: 100%;
}

.row.form-row {
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.column-full {
  display: flex;
  width: 100%;
  margin-left: 24.5%;
  margin-right: 24.5%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.divider-col {
  display: flex;
  width: 1%;
}

.column-half {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 0;
}

.flex-end {
  align-items: flex-end;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.img-container {
  width: 25%;
  height: 250px;
  overflow: hidden;
}

#placed-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

input[type=submit] {
  width: 13%;
}

@media (max-width: 481px) {
  .body {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
  }

  #placed-image,
  .flex-end {
    margin-bottom: 4%;
  }

  .row.form-row {
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0;
  }

  .column-half {
    flex: 1;
    height: 100%;
    width: 80%;
  }

  .column-full {
    margin-left: 10%;
    margin-right: 10%;
  }

  .column-half.img-container {
    width: 80%;
  }

  #placed-image {
    height: 385px;
    width: 385px;
    object-fit: cover;
    object-position: center;
  }

  h2 {
    align-items: left;
  }

  .input {
    margin-bottom: 5px;
  }
}

/* media queries for the new entry section */
@media (min-width: 482px) and (max-width: 870px) {
  .column-half {
    width: 33%;
  }

  .column-half.img-container {
    width: 33%;
  }

  .column-full {
    margin-left: 16.5%;
    margin-right: 16.5%;
  }

  input[type=submit] {
    width: 13%;
  }
}

/* This is the beggining of specific to the entries html page */
.entries-full-col {
  display: flex;
  width: 100%;
  margin-left: 24.5%;
  margin-right: 24.5%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.entries-col {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.entries-row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 60px;
  margin-top: 25px;
}

.img-wrapper1 {
  display: flex;
  width: 96%;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-image: url(../images/lovelace.png);
  margin-bottom: 60px;
}

.img-wrapper2 {
  display: flex;
  width: 96%;
  height: 300px;
  background-position: bottom;
  background-size: cover;
  background-image: url(../images/JavaScript-logo.png);
  margin-bottom: 60px;
}

.entries-title {
  font-size: 1.6em;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 10px;
  font-family: 'Proza Libre', sans-serif;
  font-weight: 600;
  line-height: 25px;
}

.entries-text {
  font-size: 0.8em;
  font-family: open-sans, sans-serif;
  margin-bottom: 8px;
}

.entries-divider-col {
  display: flex;
  width: 1%;
}

/* media queries for the entries section */
@media (min-width: 600px) and (max-width: 700px) {
  .entries-row {
    flex-direction: column;
    align-items: center;
  }

  .entries-col {
    width: 50%;
  }

  .entries-divider-col {
    visibility: hidden;
  }

  .entries-full-col {
    display: flex;
    width: 100%;
    margin-left: 24.5%;
    margin-right: 24.5%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

@media (max-width: 599px) {
  .entries-row {
    flex-direction: column;
    align-items: center;
  }

  .entries-col {
    width: 60%;
  }

  .entries-full-col {
    display: flex;
    width: 100%;
    margin-left: 19.5%;
    margin-right: 19.5%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .entries-divider-col {
    visibility: hidden;
  }
}
